# Turborepo remote cache configuration
# ------------------------------------
# The endpoint of the deployed Cloudflare Worker acting as the remote cache.
# Setup via https://adirishi.github.io/turborepo-remote-cache-cloudflare/introduction/getting-started
TURBO_API=https://turborepo-remote-cache.example.workers.dev
# Identifier for your team. Must begin with 'team_'.
TURBO_TEAM=team_myteam
# Bearer token for authenticating with the remote cache.
TURBO_TOKEN=your_turbo_token_here
# Secret key for signing cache artifacts. Can be generated via `openssl rand -base64 32`.
TURBO_REMOTE_CACHE_SIGNATURE_KEY=your_signature_key_here

# Rust
# ----
CARGO_UNSTABLE_SPARSE_REGISTRY=true
CARGO_REGISTRIES_CRATES_IO_PROTOCOL=sparse
CARGO_TERM_COLOR=always
RUST_BACKTRACE=short
