# Database Configuration
# ----------------------
DATABASE_URL=postgres://postgres:password@localhost:5432/framer_university
CONNECTION_TIMEOUT_SECONDS=3
POOL_SIZE=3

# Auth
# ----
JWT_SECRET=secret
JWT_ACCESS_TOKEN_EXPIRATION_HOURS=24
JWT_REFRESH_TOKEN_EXPIRATION_DAYS=7

# Email
# ------
# LOOPS_API_TOKEN=
EMAIL_VERIFICATION_EXPIRATION_HOURS=48

# Sentry
# ------
# SENTRY_DSN=
# SENTRY_TRACES_SAMPLE_RATE=
# SENTRY_ENV_API=local

# API
# ---
ALLOWED_ORIGINS=http://localhost:3000
# Domain of the web app.
WEB_URL=http://localhost:3000
